.signup{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}
.signupLeft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.signupLeft img {
    max-width: 80%;
}
.signupRight{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 40px 20px;
}
.signupForm{
    width: 80%;
    max-width: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    gap: 10px;
}
.signupForm h1{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}
.forminput{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
}
.forminput h4{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
}
.forminput input{
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.55);
    padding: 12px;
    background-color: transparent;
    color: white;
    outline: none;
}
.forminput input::placeholder{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}
.forminput p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}
.formButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.formButtons button{
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid transparent;
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.formButtons button img {
    width: 20px;
}
.line{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.line p{
    flex: 1;
    height: 1px;
    background: rgba(255,255,255,0.2);
}
.line h3{
    font-size: 14px;
    font-weight: 400;
}
.formContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
}
.link-text {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
}
.link-text:hover {
    text-decoration: underline;
}
.pname{
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .signup {
        flex-direction: column;
    }
    .signupLeft {
        display: none;
    }
    .signupRight {
        width: 100%;
        min-height: 100vh;
    }
    .signupForm {
        width: 100%;
    }
}