.propcard{
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    /* box-shadow: 0 8px 12px 0 gainsboro; */
}
.propcardimg{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F4F8;
}
.propcardimg img{
    width: 70%;
    height: 50%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.propcontent{
    width: 100%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.propcontent h5{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}
.propcontent p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(105, 105, 105, 1);
}
.propcontent .rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.rate h6{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.rate h6 del{
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}
.rate p img{
    width: 20px;
    margin-right: 6px;
}