.trendy{
    width: 100%;
    padding:20px 60px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 30px;
}
.trendymain{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
}
.trendymaintitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
.trendymaintitle h1{
    font-size: 18px;
    font-weight: 700;
}
.trendymaintitle h1 span{
    position: relative;
}
.trendymaintitle h1 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);

}

@media (max-width: 768px) {
    .trendy {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        padding: 20px;
        gap: 15px;
    }

    .trendymain {
        display: block; /* Restore visibility */
        padding: 40px 0;
    }

    .trendymaintitle {
        padding: 0 20px;
    }
}