.discover{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    color: white;
    background-color: var(--primary-color);
    gap: 50px;
}
.discoverleft{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}
.discoverleft h1{
    font-size: 40px;
    font-weight: 700;
}
.discoverright{
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.discoverright .DiscoverCard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.DiscoverCard .cardimg{
    width: 100%;
    display: flex;
}
.cardimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.DiscoverCard button{
    width: 100%;
    padding: 10px 40px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}