/* Inherit basic properties or define them here if not inheriting from Discover.css anymore */
.contact {
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    color: white;
    background: linear-gradient(to right, rgba(255, 0, 117, 1), rgba(255, 95, 169, 1));
    gap: 50px;
    background-color: red;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact {
        display: none;
    }
}
