.navbar{
    width: 100%;
    height: 10vh;
    padding:8px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 200px;
    cursor: pointer;
}
.navtext{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nicon{
    font-size: 18px;
}
.iconlist{
    position: relative;
}
.iconlist p{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--secondary-color);
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
}
.navtext li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-color);
}
.icons{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.iconlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.nicon{
    cursor: pointer;
    color: var(--primary-color);
}
.searchinput{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchinput input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    
}
.searchinput .search{
    font-size: 20px;
    cursor: pointer;

}
.navbarnext{
    width: 100%;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: white;
}
.navleft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navleft li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

}
.navbuttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.navbuttons .btn2{
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    cursor: pointer;
}
.navbuttons .btn1{
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    color: var(--primary-color);
    cursor: pointer;

    
}