*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* Remove mobile tap highlight */
}

/* Remove default focus outline/line on click */
*:focus {
    outline: none !important;
}

body {
    caret-color: transparent; /* Hide text caret on click for non-input elements */
}

input, textarea, [contenteditable="true"] {
    caret-color: auto; /* Show caret only where needed */
}

.no-scroll {
    overflow: hidden;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}


:root {
  --primary-color: #00387D;
  --secondary-color: #FF0075;
}
