.slider{
    width: 100%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../../assets/sliderbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 60px;
}
.sliderleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.sliderleft h1 span{
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
}
.sliderleft h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color);
}
.sliderleft h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--primary-color);
}
.sliderleft p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(105, 105, 105, 1);
    line-height: 24px;
}
.sliderbtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.sliderbtn .sliderbtnleft{
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}
.sliderbtn .sliderbtnright{
    padding: 12px 24px;
    background-color: var(--secondary-color);
    color:white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}
.sliderright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}